<% include ../templates/_header.ejs %>

<h1> </h1>
<div class ='row box'>
	<div class = 'col-lg-12 col-md-12 col-sm-12 col-xs-12'>
		<h2>Welcome to <%= title %></h2>
		
		<hr>
		
		<p>The Witness Stand is an application that allows you to post low level criminal activity in Cardiff. 
		   	When you post a report other users can see what you reported and make further comments if they witnessed anything themselves.
		</p>
		
		<p>The Police, Health and Safety Executive and other governing bodies can review these posts that you make and act upon them accordingly. 
			With your help we can crack down on crime within Cardiff and improve your communities wellbeing.
		</p>
		
		<p>We would like to thank all of the users of the Witness Stand. Your contributions have helped all organisations affiliated with the application.
			If you would like to contribute to your community. Please download the application above.
		</p>
	</div>
</div>

<br>

<!-- Column Selections -->
<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="row box index-box">
			<div class = 'box-title'>New Witness</div>
			<div class = 'box-body'>
				<p>Register as a new Witness and be granted access
					to the Witness Stand application.
					This will also grant entry to your reports on this
					website.
				</p>
				<p class ='index-btn'><a class="btn btn-default" href="/register">Register</a></p>
			</div>
		</div>
		<br>
	</div>
		
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div class="row box index-box">
			<div class = 'box-title'>Recent Reports</div>
			<div class = 'box-body'>
				<p>View any recent reports within your local area and 
					comment on anyones you may have witnessed. You can also
					view any of your reports and other people's comments.
				</p>
				
				<p class ='index-btn'><a class="btn btn-default" href="/reports">View Reports</a></p>
			</div>
		</div>
		<br>
	</div>
	
	
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div class="row box index-box">
			<div class = 'box-title'>Feedback</div>
			<div class = 'box-body'>
				<p>The Witness Stand is a new application so we understand
					there are a few bugs in there. If you ever notice any
					please feel free to let us know. We will do our best
					to make the application bug-free.
				</p>
				
				<p class ='index-btn'><a class="btn btn-default" href="/feedback">Feedback</a></p>
			</div>
		</div>
		<br>
	</div>
	
	
</div>
	


<% include ../templates/_footer.ejs %>