/* Varaibles */
/* Global */
html,
body {
  margin-top: 25px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f1f1f1;
}
.box {
  background-color: #fff;
  box-shadow: 2px 2px #888 inset;
  border-bottom: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  padding: 0;
  padding-left: 2px;
  margin: 0;
}
.box-title {
  width: 100%;
  padding: 5px;
  font-size: 20px;
  display: block;
  width: 100%;
  border-bottom: 1px solid #eee;
}
.box-body {
  width: 100%;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
}
.box-body > p {
  padding-left: 5px;
}
a {
  color: #00b7ff;
}
.navbar-nav.navbar-right:last-child {
  margin-right: 10px;
}
/* Login Page */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
/* Home Page */
.index-box {
  height: 190px;
}
.index-btn {
  text-align: center;
}
.index-btn > a {
  bottom: 0px;
}
/* Users Page */
/* Reports Page */
/* Control Panel */
.starimg {
  height: 50px;
}
.controlpanelbtn {
  margin-top: -3px;
  margin-right: -5px;
  float: right;
  font-size: 12px;
}
.scorebadge {
  margin-left: 10px;
}
.useraddressmap {
  margin-top: -5px;
  float: right;
  height: 129px;
  width: 120px;
}
